/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 0px;
	text-align: center;
	height: 0;
	
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination  *****Page Home*/

.owl-theme .owl-controls .owl-nav{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-nav div{
	display: block !important;
	width: 43px;
	height: 171px;
	top: 50%;
	position: absolute;
	color: transparent;
	 
}
#owl.owl-theme .owl-controls .owl-nav div.owl-prev{
	/*background: url("../img/chevronrighthover.png");*/
	opacity: 0.4;
	z-index: 3;
	right: 16.66667%;
	-webkit-transform: translate(43px,-50%); 
            -moz-transform: translate(43px,-50%); 
            -o-transform: translate(43px,-50%); 
            transform: translate(43px,-50%);
	-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
}
#owl.owl-theme .owl-controls .owl-nav div.owl-prev:before{
	font-family: "FontAwesome";
  font-size: 120px;
  display: inline-block;
  content: '\f105';
  color: #ffffff;
}
#owl.owl-theme .owl-controls .owl-nav div.owl-next:before{
	font-family: "FontAwesome";
  font-size: 120px;
  display: inline-block;
  content: '\f104';
  color: #ffffff;
}
#owl.owl-theme .owl-controls .owl-nav div.owl-prev:hover{
	opacity: 1;
}
#owl.owl-theme .owl-controls .owl-nav div.owl-next{
	
	/*background: url("../img/chevronlefhovert.png");*/
	opacity: 0.4;
	left: 16.66667%;
	-webkit-transform: translate(-43px,-50%); 
            -moz-transform: translate(-43px,-50%); 
            -o-transform: translate(-43px,-50%); 
            transform: translate(-43px,-50%);
	z-index: 3;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#owl.owl-theme .owl-controls .owl-nav div.owl-next:hover{
	opacity: 1;
}






.owl-theme .owl-controls .owl-nav.active div,
.owl-theme .owl-controls.clickable .owl-nav:hover div{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Styling Pagination  *****Page Product***/

.product_carousel .owl-theme .owl-controls{
	margin-top: 4px;
}
.product_carousel .owl-theme .owl-controls .owl-nav div{
	display: block !important;
	width: 64px;
	height: 173px;
	position: absolute;
	color: transparent;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.product_carousel .owl-theme .owl-controls .owl-nav div.owl-prev{
	background: rgba(0,0,0,0.6);
	background-image: url("../img/chevronrighthover.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 1;
	right: 0px;
	top: 0px;
}
.product_carousel .owl-theme .owl-controls .owl-nav div.owl-prev:hover{
	opacity: 1;
}
.product_carousel .owl-theme .owl-controls .owl-nav div.owl-next{
	background: rgba(0,0,0,0.6);
	background-image: url("../img/chevronlefhovert.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 1;
	left: 0px;
	top: 0px;
}
.product_carousel .owl-theme .owl-controls .owl-nav div.owl-next:hover{
	opacity: 1;
	background: rgba(0,0,0,0.7);
	background-image: url("../img/chevronlefhovert.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.product_carousel .owl-theme .owl-controls .owl-nav div.owl-prev:hover{
	opacity: 1;
	background: rgba(0,0,0,0.7);
	background-image: url("../img/chevronrighthover.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}



/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}